name: Fetch and update player data
on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository code on to the machine
        uses: actions/checkout@v1

      - name: Use Node.js 18.12.0
        uses: actions/setup-node@v3
        with:
          node-version: 18.12.0

      - name: Install Yarn
        run: npm install --global yarn

      - name: Run Yarn
        run: yarn

#      - name: Npm Install
#        run: npm install

      - name: Pull The Player Data and Deploy
        run: bash ${GITHUB_WORKSPACE}/cron/run.sh
